* {
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;;
}

.navbar {
    background-color: #000000;
    font-size: 20px;
}

ul {
    background-color:  #1a1818;
    width: 10%;
    height: 100%;
    position: fixed;
    padding-top: 2%;
    text-align: center;
}
ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
    color: white !important;
}

ul li a {
    color: white !important;
    text-decoration: none;
    margin-right: 40px;
    font-weight: bold;
}

ul li a:hover {
    color: gray;
    cursor: pointer;
}